body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    margin-top: 50px;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
    padding: 40px;
}

.loadBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 15px;
        cursor: pointer;
    }

    input[type=file] {
        width: 100%;
        cursor: pointer;
    }
    input[type=file]::file-selector-button {
        height: 35px;
        border-radius: 3px;
        background: white;
        outline: none;
        border: 1px rgb(51, 51, 51) solid;
        cursor: pointer;
    }

    #uploadBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height: 40px;
        max-width: 200px;
        background: rgb(116, 116, 116);
        color: white;
        border: 1px rgb(55, 55, 55) solid;
        outline: none;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 500;
        box-sizing: border-box;
        cursor: default;
    }
    .allowed {
        background: rgb(42, 42, 42) !important;
        cursor: pointer !important;
    }
}
#messageBlock {
    font-weight: 600;
    font-size: 15px;

    .green {
        color: rgb(28, 196, 28);
    }
    .red {
        color: rgb(255, 64, 0);
    }
    .err {
        font-size: 14px;
        font-weight: 400;
        color: rgb(233, 68, 12);
    }

}
#galleryBlock {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;

    div {
        margin: 0 10px 10px 0;
        max-width: 150px;
        min-width: 80px;
        width: 40%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(228, 228, 228);

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

#uploadSpinner {
    display: none;
    height: 40%;
    aspect-ratio: 1/1;
    border: 3px solid #00000000;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}